@{
    ViewData["Title"] = "Home Page";
}

@* <form> 
    <div class="form-group">
        <label for="messageInput">Value</label>
        <input class="form-control" placeholder="Enter a value"  type="text" id="valueInput" />
    </div>
    <div class="form-group">
        <input class="btn btn-primary" type="button" id="sendButton" value="Enter Value" />
    </div>
</form> *@





<div class="row">
    <div class="col-12">
        <hr />
    </div>
</div>
<div id="chartArea">
</div>


<p>
    This project works in tandem with <a href="https://github.com/RHeX700/Exchange-Rates-Update-Client-SignalR"> Exchange-Rates-Update-Client-SignalR</a>
    <br />
    Upon running Exchange-Rates-Update-Client-SignalR, it will require to supply the hubs Url,<br />
    This will be "{ base url }/charthub".<br />
    Exchange-Rates-Update-Client-SignalR the proceeds query Alpha Vintage's Exchage rate API every 15 seconds and update the chart in real time.
</p>
@section Scripts
{
 <script src="~/js/signalr/dist/browser/signalr.js"></script>
 <script src="~/js/charting.js"></script>
}
